<form class="form-inline col-md-12" ng-show="addExp">
  <input type="text" placeholder="Date" ng-model="$ctrl.date" class="form-control margin-right">
  <input type="text" placeholder="Payee" ng-model="$ctrl.payee" class="form-control margin-right">
  <input type="text" placeholder="Description" ng-model="$ctrl.desc" class="form-control margin-right">
  
  <select ng-model="$ctrl.selectedCategory" 
    ng-options="category.name for category in $ctrl.categories track by category.$id" 
    class="form-control margin-right">
  </select>
 
  <input type="text" placeholder="Amount" ng-model="$ctrl.amount" class="form-control margin-right">
  <button class="btn btn-primary btn-sm" ng-click="$ctrl.create()" ng-hide="$ctrl.editing">Create</button>
  <button class="btn btn-primary btn-sm" ng-click="$ctrl.save()" ng-show="$ctrl.editing">Save</button>
  <button class="btn btn-warning btn-sm" ng-click="$ctrl.cancel()" ng-show="$ctrl.editing">Cancel</button>
</form>