<table class="table table-hover table-condensed">
  <thead>
    <th width="16%">Date</th>
    <th width="14%">Payee</th>
    <th width="12%">Description</th>
    <th width="10%">Category</th>
    <th width="16%">Amount</th>
    <th width="12%">  <button class="btn btn-warning btn-sm" ng-click="addExp = !addExp">Add Expense</button></th>
  </thead>
  <tbody class="pointable">
    <tr ng-mouseenter="hovering = true" 
        ng-mouseleave="hovering = false" 
        ng-repeat="expense in $ctrl.expenses"
        ng-click="$ctrl.clickRow(expense)">
      <td>{{expense.date | date:'shortDate'}}</td>
      <td>{{expense.payee}}</td>
      <td>{{expense.description}}</td>
      <td>{{expense.category.name}}</td>
      <td>{{expense.amount | currency}}</td>
      <td><span 
          ng-show="hovering" 
          class="glyphicon glyphicon-remove" 
          ng-mouseenter="delhovering = true"
          ng-mouseleave="delhovering = false"
          ng-click="$ctrl.deleteExpense(expense)"
          ng-class="{'hover-delete':delhovering}"
          ></span></td>
    </tr>
  </tbody>
</table>