<h1 ng-hide="$ctrl.loggedIn">Please Login</h1>
<h1 ng-show="$ctrl.loggedIn">You have already logged in</h1>

<button style="btn btn-primary" 
    ng-click="$ctrl.googleLogin()"
    ng-hide="$ctrl.loggedIn">Log In With Google</button>

<button style="btn btn-primary" 
    ng-click="$ctrl.anonLogin()"
    ng-hide="$ctrl.loggedIn">Anonymous</button>

<br><br>
<div class="alert alert-danger" ng-show="!!$ctrl.errorMessage">{{errorMessage}}</div>
